@use "../_base/mixin";
@use "../_base/variable";

.custom-dropdown__button{
  @include mixin.fontSettings(600, 16px, 1.2, variable.$color-main-blue, center);
  background-color: variable.$color-main-white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  position: relative;

  &:after{
    content: '\2BC6';
    @include mixin.positionSettings(absolute, 8px, -2px);
  }
}

.custom-dropdown__content {
  @include mixin.widthHeight(100%, auto);
  display: block;
  position: absolute;
  z-index: 1;
}

.custom-dropdown__content a {
  @include mixin.fontSettings(600, 16px, 1.2, variable.$color-main-blue, left);
  padding: 0 16px;
  display: block;
}

@media screen and (max-width: 1130px){
  .custom-dropdown__button{ font-size: 14px;
    &:after{ font-size: 14px; top: 9px; }
  }
  .custom-dropdown__content a { font-size: 14px; }
}
//@media screen and (max-width: 400px){  .custom-dropdown__button{ display: none; }  }