@use "../../../_base/mixin";
@use "../../../_base/variable";

/*************************************/
/* Banner section main layout styles */
/*************************************/
.banner-section{
  @include mixin.widthHeight(100%, auto);
  @include mixin.displayGrid(1fr 1fr, 10px 20px);
}
.banner-section__block{
  @include mixin.widthHeight(100%, 100%);
  position: relative;
  border-radius: 30px;
  &_first{
    @include mixin.widthHeight(100%, auto);
    @include mixin.displayFlex(flex-start, space-evenly, column, 20px);
    @include mixin.leftVisibleAnimation(3s);
    padding: 20px;
    background-color: variable.$color-main-blue;
  }
  &_second{
    @include mixin.widthHeight(100%, 400px);
    @include mixin.imageShadow(30px, 0.55);
    @include mixin.rightVisibleAnimation(3s);
    overflow: hidden;
    & > picture{ @include mixin.widthHeight(100%, 100%); }
    & > picture > source,
    & > picture > img,
    & > img{ @include mixin.imageStyles(100%, 100%, cover, 30px, .7s); }
  }
}
.banner-section__block_second:hover .banner-section__block-image,
.banner-section__block_second:hover .banner-section__block_second > picture > source,
.banner-section__block_second:hover .banner-section__block_second > picture > img,
.banner-section__block_second:hover .banner-section__block_second > img{
  @include mixin.imageScale();
}

/*******************************/
/* Banner section fonts styles */
/*******************************/
.banner-section__title{
    font-family: "Roboto", sans-serif;
    @include mixin.fontSettings(600, 32px, 1.5, variable.$color-main-white, left);
    max-width: 80%;
}
.banner-section__text{
  font-family: "Roboto", sans-serif;
  @include mixin.fontSettings(400, 16px, 1.5, variable.$color-main-white, left);
}
.banner-section__link{
  @include mixin.linkButton(variable.$color-main-white, 30px, 14px 22px, 1px);
  @include mixin.fontSettings(400, 16px, 1.2, variable.$color-main-blue, center);
  @include mixin.displayFlex(center, center, row, 15px);
  &:hover .banner-link__icon{ filter: brightness(0) invert(1); }
  @include mixin.btnHover(variable.$color-main-blue, variable.$color-main-white, 1px);
  & > img{ @include mixin.imageStyles(30px, 30px); transform: rotate(45deg); }
}

/*******************************/
/* Banner section media styles */
/*******************************/
@media screen and (max-width: 990px){
  .banner-section__title{ font-size: 28px; max-width: 100%; }
  .banner-section__link{ padding: 14px 20px; gap: 10px;
    & > img{ @include mixin.widthHeight(25px, 25px); }
  }
}
@media screen and (max-width: 900px){
  .banner-section{
    grid-template-columns: 1fr;
    position: relative;
    max-height: 400px;
  }
  .banner-section__block{
    @include mixin.widthHeight(100%, 100%);
    position: relative;
    border-radius: 30px;
    &_first{
      @include mixin.positionSettings(absolute, 0, 0, 0, 0);
      align-items: center;
      justify-content: center;
      background-color: transparent;
      z-index: 5;
    }
    &_second{ max-height: 400px; }
  }
  .banner-section__title{ text-align: center; }
  .banner-section__text{ text-align: center; }
}
@media screen and (max-width: 500px){
  .banner-section{
    grid-template-columns: 1fr;
    position: relative;
    max-height: 400px;
  }
  .banner-section__block{
    &_first{ gap: 30px; }
    &_second{ max-height: 400px; }
  }
  .banner-section__title{ font-size: 24px; line-height: 1.2; }
  .banner-section__text{ display: none; }
  .banner-section__link{
    font-size: 14px;
    padding: 12px 20px;
    gap: 10px;
    & > img{ @include mixin.widthHeight(20px, 20px); }
  }
}
@media screen and (max-width: 400px){
  .banner-section{ height: 320px; }
  .banner-section__block{ &_first{ justify-content: space-evenly; } }
}
@media screen and (max-width: 300px){
  .banner-section{ height: 320px; }
  .banner-section__block{ &_first{ justify-content: space-evenly; padding: 15px;} }
  .banner-section__title{ font-size: 18px; line-height: 1.4; }
  .banner-section__link{
    font-size: 14px;
    padding: 8px 12px;
    gap: 10px;
    & > img{ display: none; }
  }
}