@use "../../../_base/mixin";
@use "../../../_base/variable";

/*************************************/
/* Themes section main layout styles */
/*************************************/
.themes-container{ @include mixin.widthHeight(100%, auto); }
.themes__list{
  @include mixin.widthHeight(100%, auto);
  @include mixin.displayGrid(repeat(auto-fill, minmax(300px, 1fr)), 40px 65px);
  &-item{
    @include mixin.displayGrid(45px 1fr, 25px);
    @include mixin.fontSettings(400, 16px, 1.35, variable.$color-main-black, left);
    align-items: center;
    position: relative;
    &:before{ @include mixin.underlineText(100%, 1px, variable.$color-main-blue, auto, 0, -20px); }
    & > span:first-child{
      @include mixin.widthHeight(45px, 45px);
      @include mixin.displayFlex(center, center);
      position: relative;
      border-radius: 50%;
      border: 1px solid variable.$color-main-blue;
    }
    &:last-child{ margin-bottom: 30px; &:before{ display: none; }}
  }
}

/**************************************/
/* Themes section media layout styles */
/**************************************/
@media screen and (max-width: 400px){
  .themes__list{
    grid-gap: 20px 30px;
    grid-template-columns: 1fr;
    &-item{
      grid-gap: 15px;
      grid-template-columns: 1fr;
      font-size: 14px;
      &:before{ bottom: -10px; }
      & > span:first-child{ display: none; }
      &:last-child{ margin-bottom: 10px; }
    }
  }
}
@media screen and (max-width: 300px){
  .themes__list{ &-item{ font-size: 13px; } }
}
