@use "../../../_base/mixin";
@use "../../../_base/variable";

/*******************************************/
/* Date block main layout and links styles */
/*******************************************/
.date-container{
  @include mixin.opacityVisibleAnimation(3s);
}
.date__info{
  @include mixin.widthHeight(100%, auto);
  @include mixin.displayGrid(220px 1fr, 20px 25px);
}
.date__info-list{
  @include mixin.widthHeight(100%, auto);
  @include mixin.displayFlex(flex-start, flex-start, column, 25px);
  &-item{
    @include mixin.widthHeight(75%, auto);
    position: relative;
    &:before{ @include mixin.underlineText(100%, 1px, variable.$color-main-blue); }
    &:after{ content: '\2197'; @include mixin.positionSettings(absolute, 0, 0, auto); color: variable.$color-main-blue; }
  }
  &-link{ @include mixin.fontSettings(500, 16px, 1.5, variable.$color-main-blue, left);}
}

/*******************************/
/* Date block data info styles */
/*******************************/
.date__info-data{
  @include mixin.widthHeight(100%, auto);
  @include mixin.displayGrid(1fr 1fr, 20px 25px);
  &-elem{
    @include mixin.widthHeight(100%, auto);
    @include mixin.displayFlex(flex-start, flex-start, column, 5px);
    &-title{@include mixin.fontSettings(600, 16px, 1.2, variable.$color-main-black); margin-bottom: 5px;}
    &-text{
      @include mixin.fontSettings(400, 14px, 1.4, variable.$color-additional-black);
      margin-left: 10px;
      & > span{ @include mixin.fontSettings(500, 14px, 1.2, variable.$color-main-black); }
      &_sub{ font-style: italic; grid-column: span 2}
    }
  }
}

/***************************/
/* Date block media styles */
/***************************/
@media screen and (max-width: 900px){
  .date__info{ grid-template-columns: 1fr; grid-gap: 40px;}
  .date__info-list{
    grid-row: 2;
    flex-direction: row;
    &-item{ text-align: center;  &:before{ display: none; }  &:after{ display: none; }  }
  }
}
@media screen and (max-width: 600px){
  .date__info{ grid-template-columns: 1fr; grid-gap: 40px;}
  .date__info-list{ flex-direction: column;
    &-item{ text-align: left; }
  }
  .date__info-data{ grid-template-columns: 1fr;
    &-elem{ &-text{ &_sub{ grid-column: span 1; } } }
  }
}
@media screen and (max-width: 400px){
  .date__info{ grid-template-columns: 1fr; grid-gap: 40px;}
  .date__info-list{ flex-direction: column; gap: 15px;
    &-item{ text-align: left; }
  }
  .date__info-data{ grid-template-columns: 1fr;
    &-elem{ &-text{ &_sub{ display: none; } } }
  }
}
