<footer class="footer">
    <div class="footer-container container">
        <div class="footer-logo__section">
            <a href="/" class="site-logo__link">
                <img src="./images/isit-logo.svg" alt="IS&IT - международный научно-технический конгресс, интеллектуальных систем и технологий" class="site-logo__image">
            </a>
            <p class="footer-logo__section-text">Международный научно-технический конгресс "Интеллектуальные системы
                и информационные технологии - 2025" "ИС & ИТ - 2025"</p>
        </div>

        <ul class="footer-menu__list">
            <li class="footer-menu__list-item"><a href="#" class="footer-menu__list-link">Комитеты и программа</a></li>
            <li class="footer-menu__list-item"><a href="#" class="footer-menu__list-link">Архив</a></li>
            <li class="footer-menu__list-item"><a href="#" class="footer-menu__list-link">Условия участия</a></li>
            <li class="footer-menu__list-item"><a href="#" class="footer-menu__list-link">Контакты</a></li>
            <li class="footer-menu__list-item"><a href="#" class="footer-menu__list-link">Регистрация публикации</a></li>
        </ul>

        <div class="footer-main__contacts">
            <p class="footer-main__contacts-title">Контакты для обратной связи</p>
            <ul class="footer-main__contacts-list">
                <li class="footer-main__contacts-list-item">
                    <a href="#" class="footer-main__contacts-list-link">bulyga@sfedu.ru</a>
                    <div class="footer-main__contacts-list-text-block">
                        <p class="footer-main__contacts-list-text">Булыга Филипп Сергеевич</p>
                        <p class="footer-main__contacts-list-text_small">(Техническое обеспечение)</p>
                    </div>

                </li>
                <li class="footer-main__contacts-list-item">
                    <a href="#" class="footer-main__contacts-list-link">litv_va@mail.ru</a>
                    <div class="footer-main__contacts-list-text-block">
                        <p class="footer-main__contacts-list-text">Литвиненко Василий Афанасьевич</p>
                        <p class="footer-main__contacts-list-text_small">(Прием заявок на участие)</p>
                    </div>
                </li>
                <li class="footer-main__contacts-list-item">
                    <a href="#" class="footer-main__contacts-list-link">ivyashenko@sfedu.ru</a>
                    <div class="footer-main__contacts-list-text-block">
                        <p class="footer-main__contacts-list-text">Ященко Ирина Васильевна</p>
                        <p class="footer-main__contacts-list-text_small">(Прием полных текстов докладов)</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-container_bottom">
        <p class="copyright"> Все права защищены &copy; 2012 - 2025 IS&IT </p>
        <a href="/policy">Политика конфиденциальности</a>
    </div>
</footer>