<header class="header">
    <div class="header-container container">
        <a href="/" class="site-logo__link">
            <img src="./images/isit-logo.svg" alt="IS&IT - международный научно-технический конгресс, интеллектуальных систем и технологий" class="site-logo__image">
        </a>

        <nav class="header-menu">
            <ul class="header-menu__list">
                <li class="header-menu__list-item header-menu__list-item_current"><a href="#" class="header-menu__list-link">Комитеты и программа</a></li>
                <li class="header-menu__list-item"><a href="#" class="header-menu__list-link">Архив</a></li>
                <li class="header-menu__list-item"><a href="#" class="header-menu__list-link">Условия участия</a></li>
                <li class="header-menu__list-item"><a href="#" class="header-menu__list-link">Контакты</a></li>
                <li class="header-menu__list-item"><a href="#" class="header-menu__list-link">Регистрация публикации</a></li>
            </ul>
        </nav>

        <div class="custom-dropdown language-select">
            <button class="custom-dropdown__button">RU</button>
            <div class="custom-dropdown__content displayNone">
                <a href="#" class="custom-dropdown__link">EN</a>
            </div>
        </div>

        <div class="mobile-burger"><span></span><span></span><span></span></div>
    </div>
</header>